In [21]:
import pandas as pd
import os 
import uszipcode
from uszipcode import ZipcodeSearchEngine
from pprint import pprint

In [22]:
test_df = {"State":["NY", "NH", "NJ"], 
           "Locality_Lat":[64.84507995700051, 32.84057112200048, 34.865970280000454], 
           "Longt":[-147.72205903599973,-86.63186076199969, -111.76381127699972]}
data = pd.DataFrame(test_df)
data

  State  Locality_Lat       Longt
0    NY     64.845080 -147.722059
1    NH     32.840571  -86.631861
2    NJ     34.865970 -111.763811

In [23]:
zip_search = ZipcodeSearchEngine()
zipcode = zip_search.by_zipcode("10001")
print(zipcode)

{
    "City": "New York",
    "Density": 34035.48387096774,
    "HouseOfUnits": 12476,
    "LandArea": 0.62,
    "Latitude": 40.75368539999999,
    "Longitude": -73.9991637,
    "NEBoundLatitude": 40.8282129,
    "NEBoundLongitude": -73.9321059,
    "Population": 21102,
    "SWBoundLatitude": 40.743451,
    "SWBoungLongitude": -74.00794499999998,
    "State": "NY",
    "TotalWages": 1031960117.0,
    "WaterArea": 0.0,
    "Wealthy": 48903.42702113544,
    "Zipcode": "10001",
    "ZipcodeType": "Standard"
}

In [54]:
data["zip"] = ""
print(data)
print(str(len(data)))
print(data.iloc[0]["zip"])
zips = []

for row in range(0, len(data)):
    lat = data.iloc[row]["Locality_Lat"]
    longt = data.iloc[row]["Longt"]
    print(f"row {row} and {lat}, {longt}")
    zips.append(zip_search.by_coordinate(lat, longt, radius=30, returns=1)[0]["Zipcode"])
data["zip"] = zips
data

  State  Locality_Lat       Longt zip
0    NY     64.845080 -147.722059
1    NH     32.840571  -86.631861
2    NJ     34.865970 -111.763811
3

row 0 and 64.84507995700051, -147.72205903599973
row 1 and 32.84057112200048, -86.63186076199969
row 2 and 34.865970280000454, -111.76381127699972

  State  Locality_Lat       Longt    zip
0    NY     64.845080 -147.722059  99701
1    NH     32.840571  -86.631861  35045
2    NJ     34.865970 -111.763811  86336